In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
data_url = "train.csv"
data = pd.read_csv(data_url) #pandas로 csv 파일을 불러온다.

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
def MinMaxScaler(data):
    numerator = data - np.min(data, 0) #데이터 - 최소값. np.min(data, 0) : data의 최소값, 0차원에 대해. 열에 대한 최소값이 구해진다.
    denominator = np.max(data, 0) - np.min(data, 0) #최대값 - 최소값
    # noise term prevents the zero division
    return numerator / (denominator + 1e-7) #0으로 나눠지는 것을 막기 위해 작은 값을 더한다.

In [5]:
#의미 있는 데이터 
#Pclass : (낮은 등급(1등급)일 수록 생존률 높음
#Sex : 여성일 수록 생존률 높음
#Age : 낮을수록 생존률 높지만. 더미 있음
#Fare : 높을수록 생존률 높음 

# data["Pclass"].value_counts() #컬럼의 값들의 count
# data[(data['Pclass'] == 3) & (data["Survived"] == 1)] #조건에 맞는 행만 뽑아낸다.

#1등석 생존자 136 / 216 = 0.63
#2등석 생존자 87 / 184 = 0.47
#3등석 생존자 119 / 491 = 0.24

input_data = data[["Survived", "Pclass", "Sex", "Age", "Fare"]].dropna()
#loc등은 행을 불러올 때. 열을 불러올 때는 바로 인덱스 접근하듯이.
#dropna로 NaN 값 삭제

output_data = input_data["Survived"]
input_data = input_data.drop("Survived", axis=1) #축 지정해 줘야 한다. 축 지정하지 않은 drop은 행 삭제
input_data["Pclass"] = input_data["Pclass"].replace([1, 2, 3], [0.63, 0.47, 0.24])
input_data["Sex"] = input_data["Sex"].replace(["male", "female"], [0.19, 0.74])
input_data["Age"] = 1 - MinMaxScaler(input_data["Age"])
input_data["Fare"] = MinMaxScaler(input_data["Fare"])

x_data = input_data.values
y_data = output_data.values
y_data = np.reshape(y_data, (-1, 1))

x_data

array([[ 0.24      ,  0.19      ,  0.72882634,  0.01415106],
       [ 0.63      ,  0.74      ,  0.5277708 ,  0.13913574],
       [ 0.24      ,  0.74      ,  0.67856245,  0.01546857],
       ...,
       [ 0.63      ,  0.74      ,  0.76652425,  0.0585561 ],
       [ 0.63      ,  0.19      ,  0.67856245,  0.0585561 ],
       [ 0.24      ,  0.19      ,  0.60316663,  0.01512699]])

In [6]:
X = tf.placeholder(tf.float32, shape=[None, 4], name="input")
Y = tf.placeholder(tf.int32, shape=[None, 1], name="labels")
keep_prob = tf.placeholder(tf.float32) #드랍아웃

# W1 = tf.Variable(tf.truncated_normal((4, 256), stddev=0.1), name="weight1")
W1 = tf.get_variable("W1", shape=[4, 256], initializer=tf.contrib.layers.xavier_initializer())
b1 = tf.Variable(tf.zeros([256]), name="bias1")
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)
L1 = tf.nn.dropout(L1, keep_prob=keep_prob)

# W2 = tf.Variable(tf.truncated_normal((256, 100), stddev=0.1), name="weight2")
W2 = tf.get_variable("W2", shape=[256, 512], initializer=tf.contrib.layers.xavier_initializer())
b2 = tf.Variable(tf.zeros([512]), name="bias2")
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)
L2 = tf.nn.dropout(L2, keep_prob=keep_prob)

# W3 = tf.Variable(tf.truncated_normal((100, 2), stddev=0.1), name="weight3")
W3 = tf.get_variable("W3", shape=[512, 256], initializer=tf.contrib.layers.xavier_initializer())
b3 = tf.Variable(tf.zeros([256]), name="bias3")
L3 = tf.nn.relu(tf.matmul(L2, W3) + b3)

W4 = tf.get_variable("W4", shape=[256, 100], initializer=tf.contrib.layers.xavier_initializer())
b4 = tf.Variable(tf.zeros([100]), name="bias4")
L4 = tf.nn.relu(tf.matmul(L3, W4) + b4)

W5 = tf.get_variable("W5", shape=[100, 2], initializer=tf.contrib.layers.xavier_initializer())
b5 = tf.Variable(tf.zeros([2]), name="bias5")

Y_one_hot = tf.one_hot(Y, 2)
Y_one_hot = tf.reshape(Y_one_hot, [-1, 2])

In [10]:
logits = tf.matmul(L4, W5) + b5 #마지막 레이어는 Relu없이 그대로 내적
hypothesis = tf.nn.softmax(logits)
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=logits, labels=Y_one_hot))
# optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.001).minimize(cost)
optimizer = tf.train.AdamOptimizer(learning_rate=0.001).minimize(cost)

prediction = tf.argmax(hypothesis, 1) #예측된 값에서 가장 높은 값을 가지는 요소의 인덱스 추출
correct_prediction = tf.equal(prediction, tf.argmax(Y_one_hot, 1)) #정답레이블과 예상치 비교
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32)) #정확도 계산

In [8]:
test = pd.read_csv("test.csv")

test_data = test[["Pclass", "Sex", "Age", "Fare"]]
test_data["Pclass"] = test_data["Pclass"].replace([1, 2, 3], [0.63, 0.47, 0.24])
test_data["Sex"] = test_data["Sex"].replace(["male", "female", "NaN"], [0.19, 0.74, 30.0])
# test_data["Age"] = 1 - MinMaxScaler(input_data["Age"])
test_data["Fare"] = MinMaxScaler(input_data["Fare"])

test_data = test_data.values

print(test_data.shape)

(418, 4)

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer()) #초기화

    for step in range(20000):
        sess.run(optimizer, feed_dict={X: x_data, Y: y_data, keep_prob: 0.7}) #optimizer에 모든 텐서가 연결되어 있으므로 optimizer 실행
        if step % 100 == 0:
#             loss, acc = sess.run([cost, accuracy], feed_dict={X: x_data, Y: y_data})
            loss, acc = sess.run([cost, accuracy], feed_dict={X: x_data, Y: y_data, keep_prob: 0.7})
            print("Step: {:5}\tLoss: {:.3f}\tAcc: {:.2%}".format(step, loss, acc))
            
    #학습 이후 테스트
#     pred = sess.run(prediction, feed_dict={X: test_data})
    pred = sess.run(prediction, feed_dict={X: test_data, keep_prob: 1})
    print("TEST")
    for p in pred: #flattend은 1차원으로 변환. [[1], [0]] -> [1, 0]. 
        print(p)

Step:     0	Loss: 0.681	Acc: 64.57%
Step:   100	Loss: 0.405	Acc: 82.35%
Step:   200	Loss: 0.402	Acc: 81.37%
Step:   300	Loss: 0.376	Acc: 83.05%
Step:   400	Loss: 0.357	Acc: 84.59%
Step:   500	Loss: 0.350	Acc: 85.01%
Step:   600	Loss: 0.339	Acc: 85.29%
Step:   700	Loss: 0.341	Acc: 85.01%
Step:   800	Loss: 0.333	Acc: 84.73%
Step:   900	Loss: 0.325	Acc: 85.57%
Step:  1000	Loss: 0.317	Acc: 86.97%
Step:  1100	Loss: 0.313	Acc: 85.99%
Step:  1200	Loss: 0.304	Acc: 86.69%
Step:  1300	Loss: 0.303	Acc: 86.83%
Step:  1400	Loss: 0.297	Acc: 87.11%
Step:  1500	Loss: 0.316	Acc: 86.41%
Step:  1600	Loss: 0.292	Acc: 87.54%
Step:  1700	Loss: 0.289	Acc: 87.68%
Step:  1800	Loss: 0.299	Acc: 87.11%
Step:  1900	Loss: 0.290	Acc: 87.68%
Step:  2000	Loss: 0.287	Acc: 88.38%
Step:  2100	Loss: 0.279	Acc: 88.52%
Step:  2200	Loss: 0.290	Acc: 87.39%
Step:  2300	Loss: 0.272	Acc: 88.66%
Step:  2400	Loss: 0.265	Acc: 88.94%
Step:  2500	Loss: 0.276	Acc: 87.54%
Step:  2600	Loss: 0.262	Acc: 89.08%
Step:  2700	Loss: 0.253	Acc: 88.38%
Step:  2800	Loss: 0.254	Acc: 89.36%
Step:  2900	Loss: 0.256	Acc: 88.94%
Step:  3000	Loss: 0.258	Acc: 88.94%
Step:  3100	Loss: 0.252	Acc: 88.94%
Step:  3200	Loss: 0.245	Acc: 89.36%
Step:  3300	Loss: 0.249	Acc: 88.94%
Step:  3400	Loss: 0.248	Acc: 89.92%
Step:  3500	Loss: 0.255	Acc: 89.64%
Step:  3600	Loss: 0.238	Acc: 88.94%
Step:  3700	Loss: 0.239	Acc: 88.80%
Step:  3800	Loss: 0.241	Acc: 90.34%
Step:  3900	Loss: 0.240	Acc: 89.64%
Step:  4000	Loss: 0.227	Acc: 89.64%
Step:  4100	Loss: 0.222	Acc: 90.48%
Step:  4200	Loss: 0.238	Acc: 89.78%
Step:  4300	Loss: 0.217	Acc: 90.06%
Step:  4400	Loss: 0.214	Acc: 91.18%
Step:  4500	Loss: 0.223	Acc: 89.50%
Step:  4600	Loss: 0.232	Acc: 90.20%
Step:  4700	Loss: 0.232	Acc: 90.20%
Step:  4800	Loss: 0.235	Acc: 88.94%
Step:  4900	Loss: 0.212	Acc: 89.78%
Step:  5000	Loss: 0.240	Acc: 89.92%
Step:  5100	Loss: 0.211	Acc: 90.76%
Step:  5200	Loss: 0.232	Acc: 89.78%
Step:  5300	Loss: 0.219	Acc: 90.76%
Step:  5400	Loss: 0.200	Acc: 91.32%
Step:  5500	Loss: 0.209	Acc: 90.34%
Step:  5600	Loss: 0.204	Acc: 90.34%
Step:  5700	Loss: 0.219	Acc: 89.36%
Step:  5800	Loss: 0.203	Acc: 91.04%
Step:  5900	Loss: 0.206	Acc: 90.76%
Step:  6000	Loss: 0.202	Acc: 91.74%
Step:  6100	Loss: 0.228	Acc: 89.78%
Step:  6200	Loss: 0.203	Acc: 91.04%
Step:  6300	Loss: 0.196	Acc: 91.46%
Step:  6400	Loss: 0.195	Acc: 91.74%
Step:  6500	Loss: 0.218	Acc: 90.90%
Step:  6600	Loss: 0.193	Acc: 91.88%
Step:  6700	Loss: 0.199	Acc: 91.74%
Step:  6800	Loss: 0.186	Acc: 92.16%
Step:  6900	Loss: 0.207	Acc: 90.48%
Step:  7000	Loss: 0.207	Acc: 89.92%
Step:  7100	Loss: 0.219	Acc: 90.76%
Step:  7200	Loss: 0.191	Acc: 92.30%
Step:  7300	Loss: 0.203	Acc: 91.74%
Step:  7400	Loss: 0.210	Acc: 90.76%
Step:  7500	Loss: 0.194	Acc: 91.32%
Step:  7600	Loss: 0.195	Acc: 91.74%
Step:  7700	Loss: 0.196	Acc: 91.46%
Step:  7800	Loss: 0.190	Acc: 91.46%
Step:  7900	Loss: 0.197	Acc: 90.76%
Step:  8000	Loss: 0.200	Acc: 90.90%
Step:  8100	Loss: 0.190	Acc: 91.60%
Step:  8200	Loss: 0.192	Acc: 91.74%
Step:  8300	Loss: 0.202	Acc: 90.90%
Step:  8400	Loss: 0.185	Acc: 91.88%
Step:  8500	Loss: 0.197	Acc: 91.46%
Step:  8600	Loss: 0.190	Acc: 91.60%
Step:  8700	Loss: 0.172	Acc: 91.74%
Step:  8800	Loss: 0.183	Acc: 91.18%
Step:  8900	Loss: 0.190	Acc: 92.72%
Step:  9000	Loss: 0.200	Acc: 90.90%
Step:  9100	Loss: 0.171	Acc: 92.58%
Step:  9200	Loss: 0.189	Acc: 91.46%
Step:  9300	Loss: 0.189	Acc: 92.30%
Step:  9400	Loss: 0.178	Acc: 92.02%
Step:  9500	Loss: 0.166	Acc: 92.58%
Step:  9600	Loss: 0.191	Acc: 92.02%
Step:  9700	Loss: 0.187	Acc: 93.00%
Step:  9800	Loss: 0.173	Acc: 93.00%
Step:  9900	Loss: 0.165	Acc: 93.28%
Step: 10000	Loss: 0.197	Acc: 91.74%
Step: 10100	Loss: 0.167	Acc: 92.86%
Step: 10200	Loss: 0.159	Acc: 92.44%
Step: 10300	Loss: 0.189	Acc: 91.88%
Step: 10400	Loss: 0.174	Acc: 92.86%
Step: 10500	Loss: 0.183	Acc: 92.16%
Step: 10600	Loss: 0.184	Acc: 93.00%
Step: 10700	Loss: 0.173	Acc: 92.58%
Step: 10800	Loss: 0.186	Acc: 92.02%
Step: 10900	Loss: 0.171	Acc: 92.02%
Step: 11000	Loss: 0.189	Acc: 92.58%
Step: 11100	Loss: 0.195	Acc: 92.16%
Step: 11200	Loss: 0.192	Acc: 90.34%
Step: 11300	Loss: 0.173	Acc: 92.02%
Step: 11400	Loss: 0.185	Acc: 92.02%
Step: 11500	Loss: 0.168	Acc: 93.00%
Step: 11600	Loss: 0.171	Acc: 92.30%
Step: 11700	Loss: 0.167	Acc: 92.86%
Step: 11800	Loss: 0.176	Acc: 93.00%
Step: 11900	Loss: 0.177	Acc: 92.44%
Step: 12000	Loss: 0.160	Acc: 93.28%
Step: 12100	Loss: 0.168	Acc: 92.72%
Step: 12200	Loss: 0.195	Acc: 92.86%
Step: 12300	Loss: 0.171	Acc: 92.44%
Step: 12400	Loss: 0.161	Acc: 93.42%
Step: 12500	Loss: 0.160	Acc: 93.00%
Step: 12600	Loss: 0.188	Acc: 91.46%
Step: 12700	Loss: 0.153	Acc: 93.28%
Step: 12800	Loss: 0.150	Acc: 93.98%
Step: 12900	Loss: 0.175	Acc: 92.86%
Step: 13000	Loss: 0.173	Acc: 92.44%
Step: 13100	Loss: 0.157	Acc: 93.56%
Step: 13200	Loss: 0.179	Acc: 93.00%
Step: 13300	Loss: 0.171	Acc: 92.72%
Step: 13400	Loss: 0.165	Acc: 93.70%
Step: 13500	Loss: 0.157	Acc: 93.14%
Step: 13600	Loss: 0.163	Acc: 92.86%
Step: 13700	Loss: 0.178	Acc: 92.02%
Step: 13800	Loss: 0.168	Acc: 92.44%
Step: 13900	Loss: 0.182	Acc: 93.00%
Step: 14000	Loss: 0.163	Acc: 92.58%
Step: 14100	Loss: 0.161	Acc: 93.42%
Step: 14200	Loss: 0.156	Acc: 93.42%
Step: 14300	Loss: 0.175	Acc: 93.42%
Step: 14400	Loss: 0.150	Acc: 94.40%
Step: 14500	Loss: 0.175	Acc: 92.72%
Step: 14600	Loss: 0.158	Acc: 93.56%
Step: 14700	Loss: 0.173	Acc: 92.02%
Step: 14800	Loss: 0.150	Acc: 93.84%
Step: 14900	Loss: 0.161	Acc: 93.42%
Step: 15000	Loss: 0.151	Acc: 93.28%
Step: 15100	Loss: 0.161	Acc: 92.72%
Step: 15200	Loss: 0.161	Acc: 92.30%
Step: 15300	Loss: 0.164	Acc: 92.44%
Step: 15400	Loss: 0.180	Acc: 91.88%
Step: 15500	Loss: 0.149	Acc: 93.42%
Step: 15600	Loss: 0.158	Acc: 93.28%
Step: 15700	Loss: 0.151	Acc: 93.28%
Step: 15800	Loss: 0.163	Acc: 92.44%
Step: 15900	Loss: 0.163	Acc: 92.44%
Step: 16000	Loss: 0.152	Acc: 93.42%
Step: 16100	Loss: 0.153	Acc: 93.14%
Step: 16200	Loss: 0.174	Acc: 92.58%
Step: 16300	Loss: 0.176	Acc: 92.16%
Step: 16400	Loss: 0.156	Acc: 93.70%
Step: 16500	Loss: 0.161	Acc: 93.56%
Step: 16600	Loss: 0.169	Acc: 92.72%
Step: 16700	Loss: 0.149	Acc: 93.28%
Step: 16800	Loss: 0.170	Acc: 92.58%
Step: 16900	Loss: 0.157	Acc: 92.58%
Step: 17000	Loss: 0.165	Acc: 92.58%
Step: 17100	Loss: 0.150	Acc: 93.70%
Step: 17200	Loss: 0.164	Acc: 92.86%
Step: 17300	Loss: 0.159	Acc: 93.98%
Step: 17400	Loss: 0.155	Acc: 93.56%
Step: 17500	Loss: 0.167	Acc: 93.00%
Step: 17600	Loss: 0.148	Acc: 93.56%
Step: 17700	Loss: 0.142	Acc: 93.84%
Step: 17800	Loss: 0.146	Acc: 93.98%
Step: 17900	Loss: 0.166	Acc: 92.86%
Step: 18000	Loss: 0.150	Acc: 93.70%
Step: 18100	Loss: 0.150	Acc: 93.70%
Step: 18200	Loss: 0.152	Acc: 93.28%
Step: 18300	Loss: 0.172	Acc: 93.28%
Step: 18400	Loss: 0.158	Acc: 93.00%
Step: 18500	Loss: 0.138	Acc: 93.98%
Step: 18600	Loss: 0.149	Acc: 93.84%
Step: 18700	Loss: 0.178	Acc: 93.98%
Step: 18800	Loss: 0.160	Acc: 93.14%
Step: 18900	Loss: 0.141	Acc: 94.26%
Step: 19000	Loss: 0.163	Acc: 92.44%
Step: 19100	Loss: 0.166	Acc: 93.28%
Step: 19200	Loss: 0.148	Acc: 92.44%
Step: 19300	Loss: 0.143	Acc: 93.56%
Step: 19400	Loss: 0.144	Acc: 94.26%
Step: 19500	Loss: 0.165	Acc: 93.00%
Step: 19600	Loss: 0.163	Acc: 93.14%
Step: 19700	Loss: 0.156	Acc: 93.42%
Step: 19800	Loss: 0.162	Acc: 93.14%
Step: 19900	Loss: 0.154	Acc: 92.44%
TEST
1
1
1
1
1
0
1
1
1
1
0
1
1
1
1
1
1
0
1
0
1
1
0
1
1
1
0
1
0
0
1
0
0
0
1
1
0
1
1
0
1
0
0
1
1
0
0
0
0
1
1
1
1
1
0
0
1
1
0
1
1
1
1
1
0
0
1
1
1
1
1
1
1
1
1
1
0
0
1
1
1
1
0
0
0
0
1
0
0
1
1
0
1
0
1
0
1
1
1
1
1
0
0
1
1
1
1
0
0
0
1
0
1
1
1
1
0
1
1
1
1
0
1
1
0
1
0
0
0
1
1
1
0
0
1
1
1
1
1
1
0
1
1
1
1
1
0
1
0
1
1
0
1
1
0
1
1
1
0
0
0
1
1
0
1
1
0
1
0
1
0
1
1
0
1
1
0
1
1
1
0
0
1
0
1
0
0
1
0
1
1
0
1
1
1
1
0
1
0
0
0
0
1
1
1
0
1
1
1
1
1
0
1
1
0
1
0
1
1
0
1
1
1
0
1
0
1
0
1
0
1
1
1
0
1
0
1
1
1
1
0
0
1
0
0
1
1
1
1
0
0
1
1
1
1
0
0
1
1
1
0
1
1
1
0
0
0
0
0
1
0
0
1
0
0
1
1
0
1
1
1
0
0
1
0
1
0
1
0
0
0
1
0
1
1
0
1
0
0
1
0
0
1
0
0
1
0
0
1
1
1
1
0
1
1
1
1
1
1
1
1
1
1
1
0
1
1
1
1
1
0
1
0
1
0
0
1
1
1
0
1
1
0
1
0
1
1
0
1
1
1
0
1
1
0
1
1
0
0
0
1
1
1
1
0
0
0
0
0
1
1
1
1
1
1
0
1
1
1
1
0
1
0
1
0
1
1
1
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
1
0
1
0
0
0